<p id="notice"><%= notice %></p>


<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="class_lists.scss">
	<title>Nav bar</title>
	<script src="class_status"></script>
</head>
<body>
	<nav class="navtitle">
		<div class="navbar__logo">
			<img src="	http://sugang.deu.ac.kr:8080/Common/images/logo.png" alt="동의대 수강신청시스템">
		</div>
	</nav>
	<nav class="navbar">
		<ul class="navbar__menu">
			<li><a href="">공지사항</a></li>
			<li><a href="http://teamproject-wghck.run.goorm.io/class_lists">수강신청</a></li>
			<li><a href="">학점이수현황</a></li>
			<li><a href="">재수강신청</a></li>
		</ul>
	</nav>
	<ul class="btn-list">
		<li><a href="https://www.deu.ac.kr/www/board/4/1">공지사항</a></li>
		<li><a href="https://www.deu.ac.kr/www/board/59">교육과정</a></li>
		<li><a href="https://www.deu.ac.kr/www/board/60">교과목해설집</a></li>
		<li><a href="https://www.deu.ac.kr/www/academic_calendar">학사일정</a></li>
	</ul>
	
</body>
</html>
