<p id="notice"><%= notice %></p>


<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="mainpage.scss">
	<title>Nav bar</title>
	<script src="class_status"></script>
</head>
<body>
	<ul class="btn_list">
		<li class="item"><a href="https://www.deu.ac.kr/www/board/4/1">공지사항</a></li>
		<li class="item"><a href="https://www.deu.ac.kr/www/board/59">교육과정 </a></li>
		<li class="item"><a href="https://www.deu.ac.kr/www/board/60">교과목해설집 </a></li>
		<li class="item"><a href="https://www.deu.ac.kr/www/academic_calendar">학사일정 </a></li>
	</ul>
	  <!--2022학년도 동계계절수업 공지사항-->
    <div class="divStyle03L">
        <h3 class="SubTitle">수강신청 안내</h3>
        <ul class="listStyle01">
            <li><a href="https://www.deu.ac.kr/www/boardview/4/780">2022학년도 동계계절수업 수강신청 안내</a></li>
            <li><a href="https://www.deu.ac.kr/www/boardview/4/784">2022학년도 동계계절수업 수강신청 안내(바이오헬스혁신공유대학)</a></li>
            <li><a href="https://www.deu.ac.kr/www/boardview/4/781">2022학년도 동계계절수업 수강신청 유의사항 안내(타대생용)</a></li>
            <li><a href="https://www.deu.ac.kr/www/boardview/4/787">2022학년도 동계계절수업 등록금 납부 안내</a></li>
            <li><a href="https://www.deu.ac.kr/www/boardview/4/423">교수-가족 간 강의수강 공정성 제고 관련 유의사항</a></li>
            <li><a href="https://www.deu.ac.kr/www/boardview/4/545">학생경력관리포탈 개인정보(연락처 및 보호자 정보) 변경 안내</a></li>
        </ul>
    </div>
    <div class="divStyle03C">
        <h3 class="SubTitle">전자출결시스템 안내</h3>
        <ul class="listStyle01">
            <li><a href="https://www.deu.ac.kr/www/boardview/4/782">2022학년도 동계계절수업 전자출결 시스템 안내</a></li>
            <li><a href="https://www.deu.ac.kr/www/boardview/4/584">출석미달 기준 및 출결처리 안내</a></li>
        </ul>
    </div>


    <div class="clearfloat"></div>

</body>
</html>
