// Place all the styles related to the class_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.box1{
	overflow:scroll; 
	overflow-x: hidden;
}
.box2{
	text-align: center;
}
.combine{
	float:left;
	width: 55%;
	height: 100%;
	margin-left: 20px;

}
.box3{
	min-width: 100%;
}

.box3 > table {
	width: 100%
}
