.btn_list {
    -webkit-text-size-adjust: none;
    word-break: break-all;
    list-style: none;
    border-radius: 3px !important;
    font-family: 'Nanum Gothic Bold';
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
    height: 50px;
    color: #fff !important;
    text-align: center;
	margin: 10px 0 0 0;
    font-size: 17px;
    border-color: #3a4049;
    padding-center: 6px;
	overflow: hidden;
}


.btn_list > li {
                float: left;
                width: 20%;
                margin-left: 1%;
                list-style: none;
                text-align: center;
				background-color: #454d59;
            }
.btn_list > li:first-child {
                    margin: 0;
                }
.btn_list > li > a {
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    font-size: 17px;
                    padding: 6px 0;
					display: block;

                }
.divStyle03L, .listStyle01 {
	margin-bottom: 0;
}
.SubTitle {
            margin-bottom: 5px;
        }	
.navbar ul > li > a {
	color: white;
}
.btn_list li > a {
	color: white;
}
.navbar li> a{
	border-right : thin solid #FFF;
	text-decoration: none;

}
.item {
	float: left;
    margin: 0 3px;
    padding: 10px;
    border: 1px solid black; 
        }